fastapi
uvicorn
pydantic
pyyaml
numpy
opencv-python
soundfile
python-multipart
diffusers==0.30.2
soundfile==0.12.1
transformers==4.39.2
librosa==0.11.0
einops==0.8.1
gradio==5.24.0

gdown
requests
imageio[ffmpeg]

omegaconf
ffmpeg-python
moviepy

